{% extends 'base.html' %}

{% block head %}
<title>Sign Up</title>
<style>
    /* Additional CSS styles for the Sign Up page */
    .sign-up {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .sign-up label {
        display: block;
        margin-bottom: 10px;
    }

    .sign-up input,
    .sign-up select,
    .sign-up textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 3px;
    }

    .sign-up button[type="submit"] {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 3px;
        background-color: #4caf50;
        color: #fff;
        cursor: pointer;
    }
</style>
{% endblock head %}

{% block content %}
<div class="container">
    <hr>
    <div class="sign-up">
        <h2>Sign Up</h2>
        <form method="post">
            {% csrf_token %}
            <label for="id_email">Email:</label>
            {{ form.email }}
            
            <label for="id_password1">Password:</label>
            {{ form.password1 }}
            
            <label for="id_password2">Confirm Password:</label>
            {{ form.password2 }}
            <label for="id_national_number">national_number:</label>
            {{ form.national_number }}
            <label for="id_phone_number">phone_number:</label>
            {{ form.phone_number }}
            <hr>
            
            <button type="submit">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}
